/*-- scss:functions --*/
@function colorToRGB ($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}

/*-- scss:defaults --*/

/*-- scss:defaults --*/

// Base HSLU palette (as SCSS colors)
$hslu-blue-color:    #77c5d8;
$hslu-green-color:   #adca2a;
$hslu-magenta-color: #ee6a87;
$hslu-yellow-color:  #fcc300;
$hslu-grey-color:    #f0f0f0;
$hslu-black-color:   #000000;

// Same palette as RGB strings (using colorToRGB)
$hslu-blue:    colorToRGB($hslu-blue-color);
$hslu-green:   colorToRGB($hslu-green-color);
$hslu-magenta: colorToRGB($hslu-magenta-color);
$hslu-yellow:  colorToRGB($hslu-yellow-color);
$hslu-grey:    colorToRGB($hslu-grey-color);
$hslu-black:   colorToRGB($hslu-black-color);

// Background
$background-light: colorToRGB(#FFFFFF);
$background-dark:  $hslu-black;

// Foreground
$foreground-light: $hslu-black;
$foreground-dark:  colorToRGB(#FFFFFF);

// Primary / secondary
$primary-light:   $hslu-blue;
$primary-dark:    $hslu-blue;

$secondary-light: $hslu-grey;
$secondary-dark:  $hslu-grey;

// Status colors
$success-light:   $hslu-green;
$success-dark:    $hslu-green;

$warning-light:   $hslu-yellow;
$warning-dark:    $hslu-yellow;

$danger-light:    $hslu-magenta;
$danger-dark:     $hslu-magenta;

// “Light” / “dark” utility colors
$light-light:     colorToRGB(#f9f9f9);
$light-dark:      colorToRGB(#1a1a1a);

$dark-light:      colorToRGB(#1a1a1a);
$dark-dark:       colorToRGB(#f9f9f9);



/*-- scss:rules --*/



.reveal h1.title {
  margin-top: 2em;   /* increase this number to enlarge spacing */

  background-color: #000000aa;
  color:white;

  padding-top: 0.2em;    /* Abstand oben */
  padding-bottom: 0.2em; /* Abstand unten */
}

.reveal .slide-menu-button,
.reveal .slide-number {
  font-size: 1.5em;
}

header {
  font-size: 1.5em !important;
  padding: 0.5em 1em !important;
  line-height: 1.2 !important;
}

.reveal h1 + p.subtitle {
  margin-top: 2em;   /* increase this number to enlarge spacing */

  background-color: #000000aa;
  color:white;

  max-width: 60%;        /* Breite begrenzen */
  padding-top: 0.2em;    /* Abstand oben */
  padding-bottom: 0.2em; /* Abstand unten */
  margin-left: auto;     /* zentrieren */
  margin-right: auto;    /* zentrieren */
  
  
  padding: 0.5em 1em;
}

.reveal div.quarto-title-author-name {
  margin-top: 3em;
  background-color: #000000aa;
  color:white;

  width: 600px;
  max-width: 80%;          /* responsive fallback */

  margin-left: auto;
  margin-right: auto;


  padding: 0.5em 1em;
}

div.reveal-header {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 2fr 0.4fr 0.3fr;
  grid-template-areas: "logo sc ht sb sn";
  column-gap: 10px;
  align-items: center;
}

.small {
  font-size: 90%;

}

.smaller {
  font-size: 80%;

}

.tiny {
  font-size: 70%;

}

.center  {
  text-align: center;
}
